{% extends 'access_home.html' %}
{% block body %}
    <body class="parallaxmainpage" style="">
{% endblock body%}
{% block nav%}
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top px-2 navmain">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'user_home' %}">WW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'user_home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'location_view' %}">LOCATIONS</a>
                </li>
                <!-- Dropdown Example -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Available Plans
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Monthly plan</a></li>
                        <li><a class="dropdown-item" href="#">Per Day plan</a></li>
                        <li><a class="dropdown-item" href="#">Hours Plan</a></li>
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carslist_view' %}">AVAILABLE</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">OFFERS</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_blog_view' %}">REVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_message' %}">CONTACT</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'logout_view' %}">LOGOUT</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light me-2" href="{% url 'user_bookings' %}">
                        <i class="bi bi-car-front"></i>
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{ count }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="{% url 'user_profile_view' user.id %}">
                        <i class="bi bi-person-circle"></i>
                        {{ user.username }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock nav %}